.hi{
   background-color: #ee3e64;
   border:#ee3e64;
   width:200px;
   height:200px;
   position:relative;
       }

.hello{
   background-color: #44accf;
   border:#44accf;
   width:200px;
   height:200px;
   position:relative;
   left:200px;
   
      } 

.hola{
   background-color: #b7d84b;
   border:#b7d84b;
   width:200px;
   height:200px;
   position:relative;
     
     }      